body{
    font-family: 'Mulish', sans-serif;
}
/* header related styles */
.header{
    margin: 50px 135px 100px 135px;
    border-radius: 16px;
background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
    width: 1170px;
height: 500px;
background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');

}
.header-tittle{
    color: #FFF;
padding: 106px 287px 0px 287px;
font-size: 64px;
font-weight: 800;
}
.header-description{
    width: 676px;
    color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
padding: 0px 247px 0px 247px ;
}
.select{
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
margin: 0px 185px 106px 185px;
width: 768px;
height: 52px;
gap: 50px;
padding: 16px;


}
#btn{
    border-radius: 8px;
background: #FF5400;

}

.option{
    width: 174px;
height: 52px;
/* flex-shrink: 0; */
border-radius: 8px;
background: #FFF;
margin-right: 10px;

}
/* section tours related style */
.tours{
    width: 1440px;

background: #FFF;
margin: 0px 135px 0px 135px;
display: flex;

gap: 53px;
}
.tours-tittle{
    color: #131318;
text-align: center;
font-size: 40px;
font-weight: 800;
width: 355px;
height: 50px;
}
.heading{
    color: rgba(19, 19, 24, 0.70);

font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
width: 577px;
height: 52px;
}
.list{
    color: rgba(19, 19, 24, 0.70);

font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
width: 525px;
height: 52px;
}
.tours-conclosion{
    color: #5A5A5D;
width: 530px;
height: 104px;
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.button{
    border-radius: 8px;
background: #FF5400;
width: 174px;
height: 52px;
color: #FFF;
text-align: center;
font-size: 20px;
font-weight: 800;
}
.img2{
    border-radius: 16px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
width: 540px;
height: 550px;
}
/* destination related styles */
.destination{
    margin: 100px 135px 100px 135px;
}
.destination-tittle{
    color: #131318;
text-align: center;
font-size: 40px;
font-weight: 800;
width: 478px;
height: 50px;
padding: 0px 350px 0px 350px;
}
    .destination-description{
        color: rgba(19, 19, 24, 0.70);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
width: 643px;
height: 52px;
padding: 0px 330px 25px 270px ;
    }
    #maldives-img{
        margin-right: 20px;
    }
    
    #america-img{
        margin: 0px 15px;
    }
    
    #maldives{
        color: #FFF;
text-align: center;
font-size: 28px;
font-weight: 400;
width: 120px;
height: 25px;

position: absolute;
top: 1570px;
left: 350px;
    }
   #indonesia{
        color: #FFF;
text-align: center;
font-size: 28px;
font-weight: 800;
width: 133px;
height: 35px;
position: absolute;
top: 1570px;
right: 600px;

    }
    #america-img{
     margin: 0px 20px;
    }
    #srilanka{
        color: #FFF;
text-align: center;
font-size: 28px;
        position: absolute;
        top: 1890px;
        left: 265px;
    }
    #North-America{
        color: #FFF;
text-align: center;
font-size: 28px;
font-weight: 800;
position: absolute;
        top: 1890px;
        left: 700px;
    }
    .triple-img{
        margin-top: 20px;
    }
    #kashmir{
        color: #FFF;
text-align: center;
font-size: 28px;
font-weight: 800;
position: absolute;
        top: 1890px;
        right: 500px;
    }
    #bandarban{
        margin-left: 10px;
    }
    .ban{
        margin-top: 20px;
    }
    #Bangladesh{
        color: #FFF;
text-align: center;
font-size: 28px;
font-weight: 800;
position: absolute;
top:2200px;
left: 300px;
    }
    #Bandarban{
        color: #FFF;
text-align: center;
font-size: 28px;
font-weight: 800;
position: absolute;
top:2200px;
right: 700px;
    }


    /* choose related styles */
    .choose{
        margin: 0px 135px;
    }
    .choose-tittle{
        color: #131318;
text-align: center;
font-size: 40px;
font-weight: 800;
width: 307px;
height: 50px;
padding: 0px 200px 0px 350px;
    }
    .choose-description{
        color: rgba(19, 19, 24, 0.70);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px;
width: 643px;
height: 52px;
padding: 0px 200px 0px 200px;
    }
    .hotels{
      
        width: 30%;
        border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
padding: 30px 50px 30px 30px;
    }
    .icon{
        width: 64px;
height: 64px;
flex-shrink: 0;
    }
    .tittle{
        color: #131318;
text-align: center;
font-size: 24px;
font-weight: 800;
width: 221px;
height: 30px;
    }
    .description{
        color: #5A5A5D;
width: 486px;
height: 78px;
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
    }
    #world{
        width: 233px;
    }
    .service{
        width: 35%;
        border-radius: 16px;
        border: 1px solid rgba(41, 206, 246, 0.20);
        background: rgba(41, 206, 246, 0.05);
        margin-left: 50px;
        padding: 30px 50px 30px 30px;
    }
    .hotels-service{
        display: flex;
        margin-top: 30px;
    }
    #best{
        width: 246px;
    }
    .gurrantee{
        width: 30%;
        border-radius: 16px;
        border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
padding: 30px 50px 30px 30px;
margin-top:50px ;
margin: 50px 300px;
    }
    










/* media query */
@media screen and (max-width:600px) {
    .header{
        width: 335px;width: 100%;
height: 483px;
background-position: 50%;
border-radius: 16px;

margin: 0px 20px 0px 20px;

    }
    .header-tittle{padding: 32px 64px 0px 64px;
        color: #FFF;

font-size: 22px;
font-weight: 800;
    
    }
    .header-description{
        padding: 0px 15px 0px 15px;
        color: #FFF;
text-align: center;
width: 304px;
font-size: 14px;
line-height: 21px; 
font-weight: 400;}
.select{
    display: flex;
width: 255px;
height: 256px;
padding: 0px 24px 32px 24px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
margin: 16px;
border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
}
.option{
    width: 255px;
height: 52px;
flex-shrink: 0;
padding: 10px 16px 0px 16px;
}
.tours{
    flex-direction: column;
    margin: 24px 20px 37px 20px;
}
.tours-content{
    width: 375px;
    height: 50%;
    
}
.heading{
    width: 335px;
    height: 72px;
}
.list{
    width: 335px;
    height: 72px;
   padding-right: 20px;
}
.tours-conclosion{
    width: 335px;
    height: 120px;
}
.button{
    margin-top: 30px;
}
.img2{
    width: 335px;
    height: 342px;
    border-radius: 16px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.destination{
    flex-direction: column;
    margin: 10px 20px;
    
}
.destination-tittle{
    width: 240px;
     height: 25px;
     text-align: left;
     
 }
 .png{
    width: 335px;
    height: 175;
    margin-top: 10px;
    border-radius: 16px;
background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
 }
 .destination-description{
    width: 300px;
     height: 72px;
     margin: 10px 20px;

 }
 #america-img{
    margin-left: 0px;
 }
 #bandarban{
    margin-left: 0px;
 }
 #maldives{
    position: absolute;
    top: 1850px;
    left: 150px;
 }
 #indonesia{
    position: absolute;
    top: 2020px;
    left: 150px;
 }
 #srilanka{
    position: absolute;
    top: 2280px;
    left: 150px;
 }
 #North-America{
    position: absolute;
    top: 2500px;
    left: 120px;
 }
 #kashmir{
    position: absolute;
    top: 2800px;
    left: 150px;
 }
 #Bangladesh{
    position: absolute;
    top: 3100px;
    left: 130px;
 }
 #Bandarban{
    position: absolute;
    top: 3300px;
    left: 130px;
 }
 .choose{
    display: grid;
 }
 .hotels-service{
    flex-direction: column;
 }
 .description{
    width: 350px;
 }
 .hotels{
    margin: 0%;
 }
 .service{
   margin-top: 50px;
    width: 30%;
 }
 .gurrantee{
    margin: 0%;
    margin-top: 50px;
 }
 

 

}

